<div id="about" class="about-title">
    About Me
</div>
<div class="about-section">
    <div class="about-me section-grid">
        <div class="about-me-main text-center">
            <img src="assets/erica_gaffud.png" alt="Erica Gaffud">
        </div>
        <div class="about-me-info">
            <h4>01</h4>
            <h5>Welcome to my world of visual storytelling! I’m <span class="name">Erica Gaffud</span>, a passionate <span class="position">Frontend Developer</span> and <span class="position">UI/UX Designer</span> 
                with a keen eye for detail and a deep appreciation for authentic emotions. My work revolves around crafting seamless digital experiences that not only 
                look visually stunning but also feel intuitive and engaging.
            </h5>
        </div>
    </div>
    <div class="about-me section-grid">
        <div class="about-me-main">
            <h4>02</h4>
            <h1>My Career So Far</h1>
            <h5>I have extensive experience designing and developing user-centered web and mobile applications. 
                My background as a <span>Frontend Developer</span> honed my skills in creating responsive, mobile-first designs, 
                while my work as a <span>UI/UX Designer</span> allowed me to craft intuitive and visually engaging interfaces. 
                Leveraging tools like Figma, and user research methodologies, I specialize in delivering solutions 
                that enhance user satisfaction and achieve business goals.
            </h5>
        </div>
        <div class="about-me-info career">
            <div class="career-info">
                <h5>UI Design</h5>
                <h5>Prototyping</h5>
                <h5>API Integration</h5>
                <h5>Web Development</h5>
                <h5>Responsive Web Design</h5>
                <h5>User Research</h5>
            </div>
            <div class="career-info">
                <h5>UX Design</h5>
                <h5>HTML/CSS</h5>
                <h5>Unit Testing</h5>
                <h5>Mobile Development</h5>
                <h5>Mobile-first Design</h5>
                <h5>UX Research</h5>
            </div>
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-main text-center">
            <h4>03</h4>
            <h1>Experiences</h1>
        </div>
        <div class="about-me-info experience">
            <div class="experiences">
                <h6>2012-2016</h6>
                <h5>Technical Vocational Course <br> Computer Major</h5>
            </div>
            <div class="experiences">
                <h6>2021</h6>
                <h5>Web Developer Intern</h5>
            </div>
            <div class="experiences">
                <h6>2022-2025</h6>
                <h5>Junior Software Developer</h5>
            </div>
            <img class="timeline" src="assets/timeline.png">
            <img class="timeline-vertical" src="assets/timeline-vertical.png">
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-main text-center">
            <h4>04</h4>
            <h1>Proficiency</h1>
        </div>
        <div class="about-me-info proficiency">
            <img src="assets/proficiency/FIGMA.png" alt="Figma Icon">
            <img src="assets/proficiency/HTML.png" alt="Figma Icon">
            <img src="assets/proficiency/BOOTSTRAP.png" alt="Figma Icon">
            <img src="assets/proficiency/CSS.png" alt="Figma Icon">
            <img src="assets/proficiency/JAVASCRIPT.png" alt="Figma Icon">
        </div>
    </div>
</div>
    <div class="about-spacer"></div>