<div id="contact" class="contact-title">
    Contact
</div>
<div class="contact">
    <div class="contact-intro">
        <h1>Let's Work Together!</h1>
        <h4>Looking for a UI/UX Designer or Frontend Developer who blends precision with creativity? 
            I'm available for remote projects—let's build something impactful.</h4>
            <img src="assets/yellow-stroke.png" alt="Assets">
    </div>
    <div class="contact-details">
        <div class="contact-details-info">
            <i class="fa-solid fa-envelope"></i>
            ericadurangaffud@gmail.com
        </div>
        <div class="contact-details-info">
            <i class="fa-solid fa-phone"></i>
            +639354583213
        </div>
        <div class="contact-details-info">
            <i class="fa-solid fa-location-dot"></i>
            Jones, Isabela 3313, Philippines
        </div>
        <div class="contact-details-info">
            <i class="fa-brands fa-linkedin-in"></i>
            <a href="https://www.linkedin.com/in/ericadurangaffud/">Erica Gaffud</a>
        </div>
    </div>
    <div class="contact-accent">
        <h1>Erica Gaffud <br> Erica Gaffud <br> Erica Gaffud</h1>
        <h1>Erica Gaffud <br> Erica Gaffud <br> Erica Gaffud</h1>
    </div>
</div>