<h3>Erica Gaffud</h3>
<ul class="header-menu-link">
    <li class="close-menu">
        x
    </li>
    <li class="version">
        <a href="https://ericagaffud.github.io/Portfolio/">v1</a>
        <a href="./index.html" class="active">v2</a>
    </li>
    <li><a href="#project">Projects</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#contact">Contact</a></li>
</ul>
<div class="header-menu">
    <i class="fa-solid fa-bars"></i>
</div>
<ul class="header-menu-scroll">
    <div class="version">
        <a href="https://ericagaffud.github.io/Portfolio/">v1</a>
        <a href="./index.html" class="active">v2</a>
    </div>
    <li><a href="#project">Projects</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#contact">Contact</a></li>
</ul>