<div id="project" class="project-title">
    Projects
</div>
<div class="project">
    <div class="project-info">
        <h5>01</h5>
        <h6>Mobile Application</h6>
        <h1>Cash Care</h1>
        <img src="assets/white-stroke.png" alt="white-stroke">
        <h6>Cash Care is a budget tracker designed to help you take charge of your finances with ease and confidence. <br><br>
            It empowers you to monitor spending, set savings goals, and achieve financial well-being by giving every peso a purpose.
        </h6>
    </div>
    <div class="project-images cashcare">
        <img src="assets/cashcare/Cashcare 1.png" alt="Login Page">
        <img src="assets/cashcare/Cashcare 2.png" alt="Home Page">
        <img src="assets/cashcare/Cashcare 3.png" alt="Asset Page">
        <img src="assets/cashcare/Cashcare 4.png" alt="Settings Page">
    </div>
</div>
<div class="project">
    <div class="project-info ams-info">
        <h5>02</h5>
        <h6>Web Application</h6>
        <h1>Accident Monitoring System</h1>
        <img src="assets/white-stroke.png" alt="white-stroke">
        <h6>AMS detects, monitors, and responds to accidents in real-time to enhance safety by reducing response times and improving situational awareness. <br><br>
            It empowers you to monitor spending, set savings goals, and achieve financial well-being by giving every peso a purpose.
        </h6>
    </div>
    <div class="project-images ams">
        <img src="assets/accident-monitoring-system/AMS-desktop.png" alt="AMS desktop view">
        <img src="assets/accident-monitoring-system/AMS-tablet.png" alt="AMS AMS-tablet view">
        <img src="assets/accident-monitoring-system/AMS-phone.png" alt="AMS AMS-phone view">
    </div>
</div>